.guessCard {
  padding: 1.5rem 3rem;
  display: flex;
  position: relative;
  height: 20rem;
  width: 15rem;
}

.guessCardPhoto{
    height: 20rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 1rem;
    border: 10px solid var(--bg-color);
    position: absolute;
}


.guessCard:hover{
    scale: 1.05;
    cursor: pointer;
}

img ~ img {
  opacity: 0;
  z-index: 1;
}

.showclass {
  opacity: 1;
  height: 20rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 1rem;
  position: absolute;
}

.imgConfetti {
  height: 100%;
}
