.card {
  padding: 1.5rem 3rem;
  position: inline;
}

.cardPhoto {
  height: 20rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.cardPhoto:hover{
  scale: 1.05;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
}

.cardPhoto:active{
  scale: 0.97;
  box-shadow: none;
}

