.card {
  padding: 1.5rem 3rem;
  display: flex;
  position: relative;
  height: 20rem;
}

.cardPhoto {
  height: 20rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 1rem;
  position: absolute;
}

.cardPhoto:hover{
  scale: 1.05;
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
}