.card {
  padding: 1.5rem 3rem;
  width: 200px;
  display: flex;
  border-radius: 1rem;
  position: relative;
  height: 20rem;
}

.cardPhoto {
  height: 20rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 1rem;
  position: absolute;
}
