
#modal{
    z-index: 1;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 75, 0.8);
    display: inline-block;
}

.modalBtn {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 0 0 0 0;
}

  
.bigPhoto{
    max-height: 90vh;
    max-width: 90vh;
    border-radius: 1rem;
}



.closeImg{
    margin: 1rem 1rem;
    height: 2rem;
    width: 2rem;
    
    position: absolute;

    cursor: pointer;
    /*
    max-width: 150%;
    max-height: 150%;
    position: absolute;
    
    
    left: 75%;
    top: 75%;
    position: absolute;
   
    */
    
}

.container{
    contain: layout inline-size style;
}