.item {
  color: var(--text-color);
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  padding-top: 15px;
  width: 400px;
  margin: 10px 10px;

  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;

  background-color: var(--start-btn-color);
  color: #242424;
}

.item:hover {
  transition: all 0.3s ease-out;
  background: var(--start-btn-hover-color);
  color: #242424;
  transition: 250ms;
}

.link {
  color: var(--text-color);
  display: block;
  align-items: center;
  text-decoration: aqua;
  padding: 0.5rem 1rem;
  height: 100%;

  font-size: xx-large;
  text-align: center;
}

.nav {
  bottom: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.text {
  color: rgb(0, 0, 0);
  display: block;
  align-items: center;
  text-decoration: aqua;

  height: 100%;
  font-family: var(--font);
  font-size: xx-large;
  text-align: center;

  margin-top: 0;
  padding-top: 16px;
}
