

.item {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  padding-top: 15px;
  width:  400px;

  


  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;

  background-color: #168faa;
  color: #242424;
}

.item:hover {
  transition: all 0.3s ease-out;
  background: rgb(109, 163, 233);
  color: #242424;
  transition: 250ms;
 
}


@font-face {
  font-family: planewalker;
  src: url(planewalker\ bold\ italic.otf);
}

.link{
  color: oldlace;
  display: flex;
  align-items: center;
  text-decoration: aqua;
  padding: 0.5rem 1rem;
  height: 100%;
 font-family: planewalker;
 font-size:xx-large;
}

