#root {
  min-height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  left: 100%;
  min-height: 100vh;

  background: #dcf1f4;
  background: -moz-linear-gradient(left, #dcf1f4 0%, #ebf0f6 50%, #ecfeff 100%);
  background: -webkit-linear-gradient(
    left,
    #dcf1f4 0%,
    #ebf0f6 50%,
    #ecfeff 100%
  );
  background: linear-gradient(to right, #dcf1f4 0%, #ebf0f6 50%, #ecfeff 100%);
}
