.footer {
    font-family: Nunito;
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    bottom: 0;
    width: 100%;
    height: 10vh;
    color: var(--header-text-color);
}


.footer-seperator{ 
    height: 0;
    background-color: none;
    border: none;
}
